body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    color: #ccc;
    display: flex;
    letter-spacing: 2px;
}

.container span {
    position: relative;
    top: 5px;
    font-size: 4rem;
}

.timer-text {
    margin: 0;
    font-size: 5rem;
}